# Configuración de Entorno Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Datos de Scraping (Excluidos del control de versiones)
data/content/*
data/media/*
data/migration_report.jsonl
!data/**/.gitkeep

# Herramientas
.uv/
uv.lock
